<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
     <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li> -->
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="advisees.html">Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="teaching.html">Teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Softwares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="advisees">
        <div class="education">
          <h2 class="mb-5" style="color:#003c3c">Advisees</h2>

          <h3 class="mb-5" style="color:#003c3c">Current</h3>

          <div class="col-md-12">
            <div class="student-card d-flex align-items-top">
                <div class="student-image" style="margin-right: 15px;">
                    <img src="../img/Frank.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
                </div>
                <div class="student-details">
                    <div style="color: #003c3c;font-weight: bold; font-size: larger;">Frank Kpoglu</div>
                    <div>PhD Student (2025-Present)</div>
                    <div>Topic : <i>Dynamic Representation Learning with Graph Neural Networks for Early Warning Systems in Evolving Spatio-Temporal Structures under Uncertainty</i> </div>
                    <div>Supervisors : Jawad Fayaz and Edward Keedwall (UoE)</div>
                    <!-- <div>Currently : Data Management Analyst at UBS Group AG</div> -->
                </div>
            </div>
             <div style="margin-top: 5px;">Frank is a PhD student in Computer Science at the University of Exeter, UK. His research focuses on designing novel graph neural network models that can capture complex spatio-temporal dependencies to enable robust early warning systems in domains such as seismic monitoring, water infrastructure, and environmental risk prediction. By integrating uncertainty quantification and adaptive learning, the research aims to advance both the theoretical foundations of GNNs and their practical deployment in real-world critical systems.
            </div> 
        </div>

          <div class="col-md-12" style="margin-top: 50px">
            <div class="student-card d-flex align-items-top">
                <div class="student-image" style="margin-right: 15px;">
                    <img src="../img/Alireza.png" alt="Student Name" class="img" style="width: 150px; height: 150px;">
                </div>
                <div class="student-details">
                    <div style="color: #003c3c;font-weight: bold; font-size: larger;">Alireza Bafti</div>
                    <div>PhD Student - QUEX (starting 2026)</div>
                    <div>Topic : <i>Harnessing Remote Sensing for Automatic Monitoring of Pit Lakes</i> </div>
                    <div>Queensland Supervisors : Neil Mcintyre (UoQ) and Nevenka Bulovic (UoQ)</div>
                    <div>Exeter Supervisors : Jawad Fayaz and Sareh Rowlands (UoE)</div>
                    <!-- <div>Currently : Data Management Analyst at UBS Group AG</div> -->
                </div>
            </div>
             <div style="margin-top: 5px;">Alireza is a QUEX PhD student at the University of Queensland, Australia, and the University of Exeter, UK. His research combines GIS programming with advanced deep/machine learning and remote sensing to monitor key hydrological variables, including flooding, drought, soil moisture, and evapotranspiration. His work applies machine learning to develop automated remote sensing approaches for detecting and monitoring pit lakes, supporting improved understanding of their hydrological and chemical dynamics.
            </div> 
        </div>



      <h3 class="mb-5" style="color:#003c3c;margin-top: 80px">Past
      </h3>

        <div class="col-md-12">
          <div class="student-card d-flex align-items-top">
              <div class="student-image" style="margin-right: 15px;">
                  <img src="../img/Lauren.jpg" alt="martin Name" class="img" style="width: 150px; height: 150px;">
              </div>
              <div class="student-details">
                  <div style="color: #003c3c;font-weight: bold;font-size: larger;">Dr. Lauren McMillan</div>
                  <div>PhD Student (2021-2024)</div>
                  <div>Topic : <i>Artificial Intelligence–Enabled Self-Healing Infrastructure Systems</i></div>
                  <div>Currently : Lecturer in Civil Engineering at Northumbria University, UK</div>
                  <div>Supervisors : Liz Varga (UCL) and Jawad Fayaz</div>
              </div>
          </div>
          <div style="margin-top: 5px;">Lauren completed her PhD in Civil, Environmental, and Geomatic Engineering at University College London (UCL), UK. Her research focused on enhancing the resilience and sustainability of critical infrastructure systems through systems-based, data-driven methods. She developed intelligent, data-driven solutions for each phase of leakage management—anticipation, detection, and restoration—envisioning a self-healing system.
            These solutions were trained and tested on a dataset of over 2,000 district-metered areas managed by a UK water company. This approach provides a rapid and cost-effective method for identifying potential leaks, offering benefits such as increased infrastructure resilience, optimized repair strategies, and improved consumer confidence, which together promote sustainable demand-side behaviours.</div>
        </div>

        
        <div class="col-md-12" style="margin-top: 50px">
        <div class="student-card d-flex align-items-top">
            <div class="student-image" style="margin-right: 15px;">
                <img src="../img/free-user.png" alt="Student Name" class="img" style="width: 150px; height: 150px;">
            </div>
            <div class="student-details">
                <div style="color: #003c3c;font-weight: bold;font-size: larger;"></div>
                <div>2 x Project Data Scientist (2025-2025)</div>
                <div>Topic : <i>Bayesian Machine Learning Framework for Probabilistic Hazard Decision-Making</i></div>
                <div>Supervisors : Jawad Fayaz, Steven Ramsdale (MET Office), Andrew Howes (UoE), and Helen Roberts (MET Office)</div>
            </div>
        </div>
        <div style="margin-top: 5px;">Two postgraduate Data Scientists worked on the development of a probabilistic simulation environment of vulnerability parameters for training reinforcement-learning-based impact-based decision-making agents for natural hazards. The project explicitly integrated physical susceptibility, socioeconomic vulnerability, community preparedness, and recovery capacity, using Bayesian hierarchical modeling to address uncertainties and enhance decision-making realism. This approach aimed to produce a robust and evidence-based framework that improves proactive risk management and emergency response capabilities. 
        </div>
    </div>


    
      <div class="col-md-12" style="margin-top: 50px">
        <div class="student-card d-flex align-items-top">
            <div class="student-image" style="margin-right: 15px;">
                <img src="../img/Alfie.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
            </div>
            <div class="student-details">
                <div style="color: #003c3c;font-weight: bold;font-size: larger;">Alfie Wright</div>
                <div>MSc Student (2025-2025)</div>
                <div>Topic : <i>Generative Modelling for Simulating Earthquake Ground Motions Spectra using Process-Informed Artificial Neural Networks</i></div>
                <div>Supervisor : Jawad Fayaz</div>
            </div>
        </div>
        <div style="margin-top: 5px;">Alfie is a graduate student in Data Science and Artificial Intelligence at the University of Exeter, UK. His research focuses on developing process-informed artificial-neural-networks-based generative models to simulate response spectra of earthquake ground motions. By incorporating key seismic features such as earthquake magnitude, epicentral distance, and site's soil shear-wave velocity, his work aims to generate realistic ground motions that could enhance earthquake early warning systems and seismic risk assessment. 
        </div>
    </div>


    <div class="col-md-12" style="margin-top: 50px">
      <div class="student-card d-flex align-items-top">
          <div class="student-image" style="margin-right: 15px;">
              <img src="../img/Yu.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
          </div>
          <div class="student-details">
              <div style="color: #003c3c;font-weight: bold;font-size: larger;">Yu Weng</div>
              <div>MSc Student (2025-2025)</div>
              <div>Topic : <i>Graph Neural Network-Based Decision Support System for Management of Water Distribution Systems</i></div>
              <div>Supervisor : Jawad Fayaz</div>
          </div>
      </div>
      <div style="margin-top: 5px;">Yu is a graduate student in Data Science at the University of Exeter, UK. Her research focuses on developing a graph neural network (GNN)-based decision support system for the management of water distribution systems, and her research aims to develop GNNs for modelling spatio-temporal dynamics of water distribution networks. Through this data-driven and deep-learning based approach, she seeks to improve the reliability, efficiency, and sustainability of water systems by reducing water losses, energy utilization, and maintenance costs. 
      </div>
    </div>


    <div class="col-md-12" style="margin-top: 50px">
      <div class="student-card d-flex align-items-top">
          <div class="student-image" style="margin-right: 15px;">
              <img src="../img/Anjana.jpeg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
          </div>
          <div class="student-details">
              <div style="color: #003c3c;font-weight: bold;font-size: larger;">Anjana Shivananda</div>
              <div>MSc Student (2025-2025)</div>
              <div>Topic : <i>Machine Learning Modelling for the Prediction of Crop Yield Productivity</i></div>
              <div>Supervisors : Jawad Fayaz and Paul Harris (Rothamsted Research)</div>
          </div>
      </div>
      <div style="margin-top: 5px;">Anjana is a graduate student in Advanced Computer Science at the University of Exeter, UK. Her research, in collaboration with Rothamsted Research, focuses on developing an AI-driven model to predict crop yield by integrating datasets on soil moisture, weather, management practices, and satellite data. The model aims to improve yield forecasts and assess the impact of climate extremes on agricultural productivity. 
      </div>
    </div>


    <div class="col-md-12" style="margin-top: 50px">
      <div class="student-card d-flex align-items-top">
          <div class="student-image" style="margin-right: 15px;">
              <img src="../img/Zak.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
          </div>
          <div class="student-details">
              <div style="color: #003c3c;font-weight: bold;font-size: larger;">Zak French</div>
              <div>MSc Student (2025-2025)</div>
              <div>Topic : <i>Bayesian Machine Learning Framework for Forecasting Water Demands in Real-Time</i></div>
              <div>Supervisor : Jawad Fayaz</div>
          </div>
      </div>
      <div style="margin-top: 5px;">Zak is a graduate student in Data Science at the University of Exeter, UK. His research focuses on developing a predictive model for water demand, comparing both temporal and spatial modelling approaches. By utilizing real-time data and historical patterns, he incorporates factors like seasonal variations whilst leveraging Bayesian statistics and machine learning techniques with the aim of enhancing forecasts of water flow demands to ultimately support better water resource management in communities. 
      </div>
    </div>


    <div class="col-md-12" style="margin-top: 50px">
      <div class="student-card d-flex align-items-top">
          <div class="student-image" style="margin-right: 15px;">
              <img src="../img/Ben.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
          </div>
          <div class="student-details">
              <div style="color: #003c3c;font-weight: bold;font-size: larger;">Ben Shaw</div>
              <div>MSc Student (2025-2025)</div>
              <div>Topic : <i>Deep Learning Framework for Real-Time Flow and Leakage Prediction in Water Distribution Networks</i></div>
              <div>Supervisor : Jawad Fayaz</div>
              <div>Currently : Data Scientist at TUI Group</div>  
            </div>    
      </div>
      <div style="margin-top: 5px;">Ben is a graduate student in Digital Technology Solutions (DTS) at the University of Exeter, UK. His research focuses on developing deep learning architectures to model flow rates and predict leakages in UK water distribution networks. His work aims to advance the development of more sustainable, autonomous water systems, reducing water loss and improving overall efficiency in distribution networks. 
      </div>
    </div>


        <div class="col-md-12" style="margin-top: 50px">
          <div class="student-card d-flex align-items-top">
              <div class="student-image" style="margin-right: 15px;">
                  <img src="../img/Ethan.jpeg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
              </div>
              <div class="student-details">
                  <div style="color: #003c3c;font-weight: bold;font-size: larger;">Ethan Ray</div>
                  <div>MSci Student (2024-2025)</div>
                  <div>Topic : <i>Spatio-Vectorial Modelling of Earthquake Intensity Measures using Graph Neural Networks</i></div>
                  <div>Supervisor : Jawad Fayaz</div>
                  
              </div>
          </div>
          <div style="margin-top: 5px;">Ethan was a graduate student in Computer Science and Mathematics at the University of Exeter, UK. His research centered on using graph neural networks to model spatial variability of earthquake intensity measures, intending to advance emergency response, infrastructure resiliency, and risk mitigation. His research predicted the spatial distribution of the vector of intensity measures using the ground motions recorded through a network of sensors. His approach integrated spatial and temporal modelling of earthquake waves through advanced machine learning to support timely, data-informed decisions that can improve safety and reduce impacts in earthquake-prone areas
          </div>
      </div>
  
  
      <div class="col-md-12" style="margin-top: 50px">
        <div class="student-card d-flex align-items-top">
            <div class="student-image" style="margin-right: 15px;">
                <img src="../img/Angelo.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
            </div>
            <div class="student-details">
                <div style="color: #003c3c;font-weight: bold;font-size: larger;">Angelo Palmer</div>
                <div>MSci Student (2024-2025)</div>
                <div>Topic : <i>Decision-Making System for Leakage Repair in Urban Water Networks using Deep Reinforcement Learning</i></div>
                <div>Supervisor : Jawad Fayaz</div>
            </div>
        </div>
        <div style="margin-top: 5px;">Angelo was a graduate student in Computer Science at the University of Exeter, UK. His research focused on developing a decision-making model for urban water network maintenance, aiming to reduce the economic and environmental impact of avoidable water loss. His interdisciplinary work involved analysing data from predictive models, utilising deep reinforcement learning techniques to train decision-making agents, and deploying said agents in a system that can be used by non-specialists in a commercial environment to enhance the management and maintenance of water networks.
        </div>
    </div>

        <div class="col-md-12" style="margin-top: 50px">
          <div class="student-card d-flex align-items-top">
              <div class="student-image" style="margin-right: 15px;">
                  <img src="../img/Martin.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
              </div>
              <div class="student-details">
                  <div style="color: #003c3c;font-weight: bold; font-size: larger;">Martin Rapp</div>
                  <div>MSc Student (2024-2025)</div>
                  <div>Topic : <i>Early Warning Systems for Leakage in Water Distribution Networks using Unified Temporal Fusion Transformers to Enable Real-Time Decision-Making</i></div>
                  <div>Supervisor : Jawad Fayaz</div>
                  <div>Currently : Data Management Analyst at UBS Group AG
                  </div>
              </div>
          </div>
          <div style="margin-top: 5px;">Martin completed his MSc in Data Science at the University of Exeter, UK. His research focused on time-series modelling and machine learning-based predictive modelling for water distribution management. His area of interest included the forecasting of water leakages and water flow demands, helping decision-makers to take preventative action. This work aligns with supporting water companies in meeting Ofwat and the UK government's future leakage reduction targets as well as leveraging new technologies to contribute to healthier management of water distribution.
          </div>
      </div>

        <div class="col-md-12" style="margin-top: 50px">
          <div class="student-card d-flex align-items-top">
              <div class="student-image" style="margin-right: 15px;">
                  <img src="../img/Jay.jpeg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
              </div>
              <div class="student-details">
                  <div style="color: #003c3c;font-weight: bold; font-size: larger;">Jay Howard</div>
                  <div>MSc Student (2024-2025)</div>
                  <div>Topic : <i>Deep Learning-Based Structural Health Monitoring of Offshore Wind Turbines using Functional Accelerometer Data</i></div>
                  <div>Supervisor : Jawad Fayaz</div>
                  <div>Currently : Lead Software Engineer (Vice President) at JPMorgan Chase</div>
              </div>
          </div>
          <div style="margin-top: 5px;">Jay completed his MSc in Data Science at the University of Exeter, UK. His research centered on the structural health monitoring of offshore wind turbine blades through deep learning modelling. By leveraging convolutional, recurrent, and transformer neural networks, Jay developed advanced neural network architectures that enhance the reliability and efficiency of wind energy systems. His interdisciplinary work involved time-series analysis for real-time prediction and detection of damage to the turbines, ultimately contributing to the efficient management and maintenance of offshore wind turbines.
          </div>
      </div>

        <div class="col-md-12" style="margin-top: 50px">
          <div class="student-card d-flex align-items-top">
              <div class="student-image" style="margin-right: 15px;">
                  <img src="../img/Simon.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
              </div>
              <div class="student-details">
                  <div style="color: #003c3c;font-weight: bold; font-size: larger;">Simon Tucker</div>
                  <div>MSc Student (2024-2025)</div>
                  <div>Topic : <i>Emulation of a Regional Climate Model over Southern Africa using Generative Machine Learning Models</i></div>
                  <div>Supervisor : Jawad Fayaz</div>
                  <div>Currently : Scientific Software Engineer (Regional Climate Change) at UK Met Office</div>
              </div>
          </div>
          <div style="margin-top: 5px;">Simon completed his MSc in Data Science at the University of Exeter, UK. His research focused on applying machine learning to analyse and emulate regional climate model simulations. He utilized these climate models to deepen our understanding of how climate change could impact local and regional environments, helping to provide valuable insights into potential future conditions at finer spatial scales.
          </div>
      </div>


      <div class="col-md-12" style="margin-top: 50px">
        <div class="student-card d-flex align-items-top">
            <div class="student-image" style="margin-right: 15px;">
                <img src="../img/Jack.jpg" alt="Student Name" class="img" style="width: 150px; height: 150px;">
            </div>
            <div class="student-details">
                <div style="color: #003c3c;font-weight: bold; font-size: larger;">Jack Bowyer</div>
                <div>MSc Student (2024-2025)</div>
                <div>Topic : <i>Spatial Downscaling and Data Compression for Defence Applications using Deep-Learning Super-Resolution Modelling</i></div>
                <div>Supervisor : Jawad Fayaz</div>
                <div>Currently : Scientific Software Engineer (Machine Learning) at UK Met Office</div>
            </div>
        </div>
        <div style="margin-top: 5px;">Jack completed his MSc in Data Science at the University of Exeter, UK. His research focused on the application of deep-learning approaches to the downscaling and compression of geospatial data which is of pertinence to the Met Office's defence customers. His current work involved contributing to the development of the Met Office's AI weather prediction model, FastNet.
        </div>

    </div>

      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
