<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
    <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Softwares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="education">
        <div class="codeandsoft">
          <h2 class="mb-5" style="color:#0b59b3">Softwares</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <p style="font-size:130%";><b>Hazard-Targetted Time-Series Simulator (HATSim)</b><br>
                  <a href="https://github.com/jfayaz/HATSim.git" target="_blank" style=" font-size: 85%">Github Link</a><br>
                <img src="../img/HATSim.jpg" alt="" style="width:600px"></p>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <p style="font-size:130%";><b>Spectrally-Targetted Time-Series Simulator (SpecTSim)</b><br>
                  <a href="https://github.com/jfayaz/SpecTSim.git" target="_blank" style=" font-size: 85%">Github Link</a><br>
                <img src="../img/SpecTSim.jpg" alt="" style="width:600px"></p>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <p style="font-size:130%";><b>Generalized Ground Motion Prediction Model (GGMPM)</b><br>
                  <a href="https://github.com/jfayaz/GGMPM.git" target="_blank" style=" font-size: 85%">Github Link</a><br>
                <img src="../img/GGMPM.jpg" alt="" style="width:550px"></p>
              </div>
            </div>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <p style="font-size:130%";><b>Opensees Finite-Element Seat-Type Bridge Models</b><br>
                <a href="mailto:Jfayaz@uci.edu;zareian@uci.edu" style=" font-size: 85%">Request Models</a><br>
                <img src="../img/BridgeModel.png" alt="" style="width:600px"></p>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <p style="font-size:130%";><b>MATLAB script to compute RZZ Parameters</b><br>
                <a href="https://github.com/jfayaz/Compute_RZZ_Params" target="_blank" style=" font-size: 85%">Github Link</a><br>
                <img src="../img/RZZ.jpg" alt="" style="width:550px"></p>
              </div>
            </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <p style="font-size:130%";><b>MATLAB script to conduct Anomaly Detection</b><br>
              <a href="https://github.com/jfayaz/AnomlyDetection" target="_blank" style=" font-size: 85%">Github Link</a><br>
              <img src="../img/AnDt1.jpg" alt="" style="width:250px">
              <img src="../img/AnDt2.jpg" alt="" style="width:250px"></p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <p style="font-size:130%";><b>MATLAB script to find Ground Motions based on spectral match with Target Spectrum</b><br>
              <a href="https://github.com/jfayaz/Finding_GMs_Matching_Hazard_Spectrum" target="_blank" style=" font-size: 85%">Github Link</a><br>
              <img src="../img/SM1.jpg" alt="" style="width:250px">
              <img src="../img/SM2.jpg" alt="" style="width:250px"></p>
          </div>
        </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <p style="font-size:130%";><b>MATLAB and TCL Opensees script to generate Ground Motion RotD Spectra</b><br>
              <a href="https://github.com/jfayaz/Generate_RotD_Spectra_Matlab_OpenSees" target="_blank" style=" font-size: 85%">Github Link</a><br>
              <img src="../img/RotD_Op1.jpg" alt="" style="width:250px">
              <img src="../img/RotD_Op2.jpg" alt="" style="width:250px"></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <p style="font-size:130%";><b>OpenseesPy script to generate Ground Motion RotD Spectra</b><br>
            <a href="https://github.com/jfayaz/Generate_RotD_Spectra_OpenSeesPython" target="_blank" style=" font-size: 85%">Github Link</a><br>
            <a href="https://openseespydoc.readthedocs.io/en/latest/src/exampleRotDSpectra.html" target="_blank" style=" font-size: 85%">OpenSeesPy Link</a><br>        
            <img src="../img/RotD_py1.jpeg" alt="" style="width:250px">
            <img src="../img/RotD_py2.jpeg" alt="" style="width:250px"></p>
          </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <p style="font-size:130%";><b>MATLAB script to generate Ground Motion RotD Spectra</b><br>
          <a href="https://github.com/jfayaz/Generate_RotD_Spectra_Matlab" target="_blank" style=" font-size: 85%">Github Link</a><br>
          <img src="../img/RotD_Mat1.jpg" alt="" style="width:250px">
          <img src="../img/RotD_Mat2.jpg" alt="" style="width:250px"></p>
        </div>
    </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <p style="font-size:130%";><b>PYTHON script to web-scrape Hazard Curves and Deaggregation data from USGS Website</b><br>
              <a href="https://github.com/jfayaz/Obtain_Hazard_and_Deaggregation_Data_from_USGS" target="_blank" style=" font-size: 85%">Github Link</a><br>
              <img src="../img/HD1.jpg" alt="" style="width:250px">
              <img src="../img/HD2.jpg" alt="" style="width:250px"></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <p style="font-size:130%";><b>MATLAB script to conduct Support Vector Machines </b><br>
              <a href="https://github.com/jfayaz/Support_Vector_Machines" target="_blank" style=" font-size: 85%">Github Link</a><br>
              <img src="../img/SVM.jpg" alt="" style="width:300px"></p>
            </p>
          </div>
        </div>

  <div class="resume-item d-flex flex-column flex-md-row">
    <div class="resume-content mr-auto">
      <p style="font-size:130%";><b>PYTHON script to conduct Nataf Transformation</b><br>
      <a href="https://github.com/jfayaz/Nataf_Transformation.git" target="_blank" style=" font-size: 85%">Github Link</a><br>
    </p>
  </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row">
  <div class="resume-content mr-auto">
    <p style="font-size:130%";><b>MATLAB script to parse NGAWEST2 GMs to .AT2 and Spectra to .txt</b><br>
    <a href="https://github.com/jfayaz/Parse_NGAWEST2_GMs_to_AT2_-_Spectra_to_txt.git" target="_blank" style=" font-size: 85%">Github Link</a></p>
</div>
</div>

<div class="resume-item d-flex flex-column flex-md-row">
  <div class="resume-content mr-auto">
    <p style="font-size:130%";><b>PYTHON script to download attachments from your Email account</b><br>
    <a href="https://github.com/jfayaz/Download_All_Attachments_from_Email_Account" target="_blank" style=" font-size: 85%">Github Link</a></p>
  </div>
</div>
        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
