<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
     <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:#FFFF99;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Code and Softwares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="volunteerexperience.html">Volunteering Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="education">
        <div class="education">
          <h2 class="mb-5">Education</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Doctor of Philosophy (PhD)</h3>
              <div style="font-size:120%;"><b>Structural and Earthquake Engineering</b></div>
              <div style="font-size:120%;"><b>University of California-Irvine, USA</b></div>
              <p style="font-size:110%;"><b>Advisor:<a href="http://engineering.uci.edu/users/farzin-zareian" target="_blank" style="color:brown"> Dr. Farzin Zareian</a></b><br>
              <i>Related Courses</i>: Performance-Based Design, Non-Linear Structural Analysis, Time-Series Analysis, Mathematical Methods in Engineering Analysis </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"><b>January 2018 - Present</b></span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Master of Science (MS)</h3>
              <div style="font-size:120%;"><b>Structural Engineering</b></div>
              <div style="font-size:120%;"><b>University of California-Irvine, USA</b></div>
              <p style="font-size:110%;"><b>Thesis Advisor:<a href="http://engineering.uci.edu/users/farzin-zareian" target="_blank" style="color:brown"> Dr. Farzin Zareian</a></b><br>
                <i>Related Courses</i>: Earthquake Engineering, Aseismic Design, Structural Reliability, Structural Dynamics, Finite Element Methods, Advanced Design of Steel Structures, Advanced Design of Concrete Structures, Design of Timber Structures</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"><b>September 2016 - March 2018</b></span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Bachelor in Engineering (BE)</h3>
              <div style="font-size:120%;"><b>Civil Engineering</b></div>
              <div style="font-size:120%;"><b>R.V. College of Engineering-Bengaluru, India</b> </div>
              <p style="font-size:110%;"><b>Final Project Advisors:<a href="https://rvce.edu.in//cv-traghavendra" target="_blank" style="color:brown"> Dr. T. Raghavendra</a> and <a href="https://rvce.edu.in//cv-bcudayashnakar" target="_blank" style="color:brown">Dr. B.C. Udayashankar</a></b><br>
                <i>Related Courses</i>: Mechanics of Materials, Structural Analysis I, Structural Analysis II, Design of Reinforced Concrete Structures, Design of Steel Structures, Design of Prestressed-Concrete Structures, Advanced Design of Reinforced Concrete Structures </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"><b>August 2012 - May 2016</b></span>
            </div>
          </div>

        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
