<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
     <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li> -->
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="news.html">News</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="layouts/research.html">Research</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="advisees.html">Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="teaching.html">Teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Softwares</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
        -->
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="research">
        <div class="research">
          <h2 class="mb-5" style="color:#003c3c">News</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0" style="font-size:170%;color:#003c3c">Current</h3>
              <ul>
                <!--
                <li><span><b>PhD Opening</b></span>: Dr. Fayaz has an opening for a PhD student at University of Exeter, UK (with open start date). If you are passionate about research and interested in the project, we would be happy to have your application. <a href="https://www.exeter.ac.uk/study/funding/award/?id=5064" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
                <li><span><b>Postdoc Opening</b></span>: Dr. Fayaz (in collaboration with University College London, Northumbria University, and UKCRIC) has an opening for a Postdoctoral Research Associate at UKCRIC Ltd, UK. If you are passionate about research and interested in the project, we would be happy to have your application. <a href="https://www.linkedin.com/posts/vargaliz_gain-water-manchester-prize-activity-7211089686595870720-2NUk?utm_source=share&utm_medium=member_android" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
                <li><span><b>PhD Opening</b></span>: Dr. Fayaz has an opening for a PhD student through QUEX scheme with a joint degree from the University of Exeter, UK and the University of Queensland, Australia. Topic: "Explainable AI for Sustainable Sewers under Climate and Urban Stress". If you are passionate about research and interested in the project, we would be happy to have your application. <a href="https://www.exeter.ac.uk/study/funding/award/?id=5530" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
                <li><span><b>PhD Opening</b></span>: Dr. Fayaz has an opening for a PhD student through QUEX scheme with a joint degree from the University of Exeter, UK and the University of Queensland, Australia. Topic: "Harnessing Remote Sensing for Automatic Monitoring of Pit Lakes". If you are passionate about research and interested in the project, we would be happy to have your application. <a href="https://scholarships.uq.edu.au/scholarship/quex-phd-scholarship" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li> 
               <li><span><b>23 Jun to 18 Aug 2025</b></span>: Dr. Fayaz is leading the "Google-Deepmind Research Ready Placements Program" in the Department of Computer Science at the University of Exeter, UK. <a href="https://computerscience.exeter.ac.uk/study/deepmind-internships/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   

                -->
                    <li><span><b>PhD Openings (CSC Scheme)</b></span>: Dr. Fayaz is inviting applications from Chinese nationals for three fully funded PhD projects under the China Scholarship Council–University of Exeter partnership. Contact Dr. Fayaz by 20th November 2025 to register your interest. <a href="https://www.exeter.ac.uk/study/funding/award/?id=5727" target="_blank" style="font-size:80%;color:brown;">See Details</a></li>
                    <li><span><b>PhD Opening</b></span>: A fully funded PhD studentship on LLM-Based Agentic AI is available with Dr. Fayaz and colleagues at the University of Exeter, open to both UK and international applicants. Application deadline 30th November 2025. <a href="https://www.exeter.ac.uk/study/funding/award/?id=5729" target="_blank" style="font-size:80%;color:brown;">See Details</a></li>
                    <li><span><b>1 Aug 2025 to Present</b></span>: Dr. Fayaz is leading the "Center of Environmental Intelligence" as an Academic Lead at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/research/centres/environmental-intelligence/people/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>    
   
              </ul>  
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"  style="font-size:170%;color:#003c3c">2025</h3>
              <ul>
                <li><span><b>21 Nov 2025</b></span>: Dr. Fayaz organized a research event on "Data-Driven Early Warning for Natural Hazards and Risks" at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/events/details/index.php?event=15289" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>    
                <li><span><b>6 Nov 2025</b></span>: Dr. Fayaz was invited to present research at a one-day workshop on "Potential for Novel AI methods to Improve the Observation and Management of UK Wildfires" at the University of Exeter (UK).<a href="https://www.exeter.ac.uk/events/details/index.php?event=15297" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>16 Sep 2025</b></span>: Dr. Fayaz was invited to present research on "AI for Urban, Cities, and Transport" at the online collaboration workshop between Zhejiang University of Technology (China) and University of Exeter (UK).<a href="https://news.exeter.ac.uk/top-stories/international-partnership-agreed-with-leading-technology-university-in-china/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>11 Sep 2025</b></span>: Dr. Fayaz was invited to present research at the "Environmental Intelligence Conference” at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/events/details/index.php?event=15030/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>1 Aug 2025</b></span>: Dr. Fayaz started as an Academic Lead for the "Center of Environmental Intelligence" at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/research/centres/environmental-intelligence/people/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>    
                <li><span><b>26 Jun 2025</b></span>: Dr. Fayaz's research on HEWFERS (Hybrid Earthquake Early Warning Framework for Estimating Response Spectra), a machine-learning based system for real-time prediction of ground motion intensity, featured in a news article by University of the Andes, Chile.<a href="https://www.uandes.cl/noticias/nuevo-modelo-de-alerta-temprana-de-terremotos-permite-la-prediccion-de-la-intensidad-del-sismo-con-menos-de-un-minuto-de-anticipacion/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>25 Jun 2025</b></span>: Dr. Fayaz was invited as an expert panel member on "Generative AI and Sustainability" at a 4-day program: "2025 Enviornmental Intelligence and Beyond" in Exeter, UK.<a href="https://www.exeter.ac.uk/research/eicdt/events/toenvironmentalintelligenceandbeyond/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>23 Jun to 18 Aug 2025</b></span>: Dr. Fayaz led the "Google-Deepmind Research Ready Placements Program" in the Department of Computer Science at the University of Exeter, UK. <a href="https://computerscience.exeter.ac.uk/study/deepmind-internships/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
                <li><span><b>16 Jun 2025</b></span>: Dr. Fayaz organized a thematic session with Dr. Esteghamati (Utah State University, USA) on "Physics-Informed and Explainable Machine Learning for Natural Hazards, Exposure, and Risk Modelling" at the "10th International Conference on Computational Methods in Structural Dynamics and Earthquake Engineering (COMPDYN)" conference in Rhodes, Greece.<a href="https://2025.compdyn.org/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>15 Jun to 18 Jun 2025</b></span>: Dr. Fayaz presented three research projects at the "10th International Conference on Computational Methods in Structural Dynamics and Earthquake Engineering (COMPDYN)" in Rhodes, Greece. <a href="https://2025.compdyn.org/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>                 
                <li><span><b>1 Jun to 6 Jun 2025</b></span>: Dr. Fayaz presented two research projects at the "14th International Conference on Structural Safety and Reliability (ICOSSAR)" in Los Angeles, USA. <a href="https://www.icossar2025.org/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>29 May 2025</b></span>: Dr. Fayaz's research on HEWFERS (Hybrid Earthquake Early Warning Framework for Estimating Response Spectra), a machine-learning based system for real-time prediction of ground motion intensity, featured in a news article by University of Chile, Chile.<a href="https://geofisica.uchile.cl/noticias/229878/academico-dgf-colabora-en-diseno-de-ia-para-estimar-intensidad-sismica/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>29 May 2025</b></span>: Dr. Fayaz was invited to present research at the "Applications of Artificial Intelligence in Seismic Engineering” seminar held at University of the Andes, Chile. <a href="https://postgrados.uandes.cl/seminarios/seminario-aplicaciones-de-inteligencia-artificial-en-ingenieria-estructural-y-sismica/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>26 May 2025</b></span>: Dr. Fayaz was invited to deliver a research seminar at the University of Chile, Chile. <a href="https://uchile.cl/agenda/228351/seminario-domain-informed-earthquake-intensity-prediction" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>21 May 2025</b></span>: Dr. Fayaz's research on HEWFERS (Hybrid Earthquake Early Warning Framework for Estimating Response Spectra), a machine-learning based system for real-time prediction of ground motion intensity, featured on a national TV news channel - Meganoticias, Chile. <a href="https://www.youtube.com/watch?v=oDuIZR9dvNk" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>19 May 2025</b></span>: Dr. Fayaz's research on HEWFERS (Hybrid Earthquake Early Warning Framework for Estimating Response Spectra), a machine-learning based system for real-time prediction of ground motion intensity, featured in a national news article - La Tercera, Chile. <a href="https://www.latercera.com/que-pasa/noticia/usando-inteligencia-artificial-ingenieros-chilenos-crean-sistema-que-anticipa-intensidad-de-un-terremoto/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>13 May 2025</b></span>: Dr. Fayaz started his 2-week research visit as a Visiting Faculty at University of the Andes, Chile, conducted as a part of the joint research project with Prof. Rodrigo Astroza. <a href="https://rastroza.com/research/projects/machine-learning-for-earthquake-risk-assessment/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>8 Apr 2025</b></span>: Two of the Dr. Fayaz's proposals for the "QUEX Fully-Funded PhD Scholarship" scheme between the University of Exeter, UK and the University of Queensland, Australia, were successful. The selected candidates will recieve a joint degree from the University of Exeter, UK and the University of Queensland, Australia. <a href="https://scholarships.uq.edu.au/scholarship/quex-phd-scholarship" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>28 Mar 2025</b></span>: Dr. Fayaz's proposal (in collaboration with the MET Office, UK) for the "Joint Centre for Excellence in Environmental Intelligence (JCEEI)" call was successful and received fully-funded six months of Postdoctoral Research Associate (PDRA) / Data Scientist time. <a href="https://jceei.org/catalyst-call-for-proposals/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>5 Mar 2025</b></span>: Dr. Fayaz presented research and participated in "Encouraging AI Innovation in Environmental Agencies" collaboration event at the MET Office, Exeter, UK.<a href="" target="_blank" style=" font-size: 80%" style="color:brown";></a></li>     
                <li><span><b>3 Feb 2025</b></span>: Dr. Fayaz organized a research event "Symposium for Uniting Minds and Missions in Intelligent Technology for Environmental Intelligence (SUMMIT-EI)" at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/events/details/index.php?event=14533" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>     
              </ul>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"  style="font-size:170%;color:#003c3c">2024</h3>
              <ul>
                <li><span><b>18 Nov 2024</b></span>: Dr. Fayaz's proposal for the "Google-Deepmind Research Ready Placement Program" was successful and received funding for the Department of Computer Science at the University of Exeter, UK. <a href="https://computerscience.exeter.ac.uk/study/deepmind-internships/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>16 Oct 2024</b></span>: Dr. Fayaz was invited to present research at "Environmental Intelligence & Geography" seminar at the University of Exeter, UK. <a href=" " target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>1 Oct 2024</b></span>: Dr. Francisco Pinto (Assistant Professor at University of Chile, Chile) started his 4-month research visit as a Visiting Faculty under Dr. Fayaz at the University of Exeter, UK. <a href="https://ingenieria.uchile.cl/sobre-la-fcfm/organizacion/personas/cuerpo-academico/ingenieria-civil?qui_id=3070486" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>1 Sep 2024</b></span>: Dr. Fayaz joined the Editorial Board of "International Journal of Disaster Risk Reduction (IJDRR)". <a href="https://www.sciencedirect.com/journal/international-journal-of-disaster-risk-reduction/about/editorial-board" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>  
                <li><span><b>1 Aug 2024 to 31 Jul 2025</b></span>: Dr. Fayaz led the "Environmental Intelligence (EI) Network" as an Academic Lead at the University of Exeter, UK.<a href="https://www.exeter.ac.uk/research/networks/environmental-intelligence/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>    
                <li><span><b>30 Jun to 5 Jul 2024</b></span>: Dr. Fayaz presented research at the "18th World Conference of Earthquake Engineering (18WCEE)" in Milan, Italy. <a href="https://www.wcee2024.it/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>21 May 2024</b></span>: Dr. Fayaz's research proposal (in collaboration with University College London, Northumbria University, and UKCRIC) for the "Manchester Prize Award" hosted by the Department for Science, Innovation and Technology (DSIT), UK, was selected in the top 10 finalists (out of ~400 proposals) and received initial research funding. <a href="https://manchesterprize.org/gain-water/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>15 Apr 2024</b></span>: Mr. Roberto Vergara (graduate student under Prof. Rodrigo Astroza at University of the Andes, Chile) started his 3-month research visit as a Visiting Scholar under Dr. Fayaz at the University of Exeter, UK. <a href="https://rastroza.com/people/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>
                <li><span><b>22 Feb 2024</b></span>: Dr. Fayaz participated in the Away Day hosted by the "Institute of Data Science and Artificial Intelligence (IDSAI)" at the Royal Albert Memorial Museum, Exeter, UK. <a href="https://www.exeter.ac.uk/research/institutes/idsai/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>                        
                <li><span><b>1 Feb to 2 Feb 2024</b></span>: Dr. Fayaz was invited to present research at "NHERI (Stanford University and University of California Berkeley) Computational Symposium" at the University of California, Los Angeles, California, USA. <a href="https://simcenter.designsafe-ci.org/nheri-computational-symposium/2024/" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
                <li><span><b>4 Jan 2024</b></span>: Dr. Fayaz joined as a Lecturer (Assistant Professor) in the Department of Computer Science at University of Exeter, UK.<a href="https://computerscience.exeter.ac.uk/people/profile/index.php?web_id=jf801" target="_blank" style=" font-size: 80%" style="color:brown";>  See Details</a></li>   
              </ul>
            </div>
          </div>


        
        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
