<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
    <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Softwares</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
        -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="projects">
        <div class="projects">
          <h2 class="mb-5" style="color:#0b59b3">Research</h2>
          
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h5 class="mb-3" style="font-size:220%;color:#05246d">Research Domains</h5>
              
              <ul><li>
                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h5 class="mb-0" style="font-size:130%;">Infrastructural System Analysis</h5>
                        <div style="font-size:150%;">
                          <ul style="padding-bottom: 1rem;">
                            <li>Health Monitoring of Water Distribution Systems</li>
                            <li>Health Monitoring of Offshore Wind Turbines</li>
                            <li>Optimization of Energy Systems in Buildings</li>
                            <li>Self-Learning Agents for Construction Site Works</li>
                            <li>Traffic Route Optimization for Traditional Vehicles</li>
                            <li>Computer Vision for Carbon Condition Monitoring</li>
                          </div>
                      </div>
                    </div>
                  </li></ul>

                  <ul><li>
                    <div class="resume-item d-flex flex-column flex-md-row">
                        <div class="resume-content mr-auto">
                            <h5 class="mb-0" style="font-size:130%;">Decision Support Systems for Extreme-Events</h5>
                            <div style="font-size:150%;">
                              <ul style="padding-bottom: 1rem;">
                                <li>Pre-Event Analysis</li>
                                <li>During-Event Analysis</li>
                                <li>Post-Event Analysis</li>
                              </div>
                          </div>
                        </div>
                      </li></ul>

              <ul><li>
                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h5 class="mb-0" style="font-size:130%;">Probabilistic Structural Demand Analysis (PSDA)</h5>
                        <div style="font-size:110%;">
                          <ul style="padding-bottom: 1rem;">
                            <li>Structural Digital Twining and Surrogate Modelling</li>
                            <li>Structural Demand Estimation Models (SDEMs) for Seismic Demand Prediction</li>
                            <li>Seismic Structural Demand Spectrum (SSDS) for PSDA</li> 
                            <li>PSDA for Multiple Sequential and Joint Hazards</li>                          
                        </div>
                      </div>
                    </div>
                  </li></ul>

                  <ul><li>
                    <div class="resume-item d-flex flex-column flex-md-row">
                        <div class="resume-content mr-auto">
                            <h5 class="mb-0" style="font-size:130%;">Seismic Ground Motion Analysis</h5>
                            <div style="font-size:150%;">
                              <ul style="padding-bottom: 1rem;">
                                <li>Real-Time and Near-Real-Time Estimation of Ground Motion Time-Series</li>
                                <li>Generalized Ground Motion Models (GGMMs) for Ground Motion Intensity Prediction</li>
                                <li>Sensitivity Analysis of Ground Motions from Crustal and Subduction Environments</li>
                                <li>Risk/Vulnerability/Hazard Analysis of Structures under Ground Motions Sequences</li>
                              </div>
                          </div>
                        </div>
                      </li></ul>

                <ul><li> 
                  <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                      <h5 class="mb-0" style="font-size:130%;">Synthetic Seismic Ground Motions Analysis</h5>
                      <div style="font-size:110%;">
                        <ul style="padding-bottom: 1rem;">
                          <li>Evaluation of Physics-Based Simulated Ground Motions</li>
                          <li>Validation and Utilization of Site-Based Simulated Ground Motions</li>
                          <li>Efficient Algorithms to Simulate Intensity-Targeted Site-Based Ground Motions</li>
                      </div>
                  </div> 
                </div>
              </li></ul>

              <ul><li> 
                <div class="resume-item d-flex flex-column flex-md-row">
                  <div class="resume-content mr-auto">
                    <h5 class="mb-0" style="font-size:130%;">Reliability Analysis</h5>
                    <div style="font-size:110%;">
                      <ul style="padding-bottom: 1rem;">
                        <li>Effects of Vertical Component of Earthquake Ground Motions on Structural Reliability</li>
                        <li>Reliability Analysis of Different Base-Plate Connections for Steel Structures</li>
                    </div>
                </div> 
              </div>
            </li></ul>

            <ul><li> 
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h5 class="mb-0" style="font-size:130%;">System Identification and Model Updating</h5>
                  <div style="font-size:110%;">
                    <ul style="padding-bottom: 1rem;">
                      <li>Bridge Model Updating using Bayesian State and Parameter Estimation Methods</li>
                  </div>
              </div> 
            </div>
          </li></ul>

            <ul><li> 
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h5 class="mb-0" style="font-size:130%;">Alternate Construction Materials</h5>
                  <div style="font-size:110%;">
                    <ul style="padding-bottom: 1rem;">
                      <li>Fibre Reinforced Polymers (FRP)</li>
                      <li>Controlled Low-Strength Materials (CLSM)</li>
                  </div>
              </div> 
            </div>
          </li></ul>

            </div>
          </div>




<!--
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h5 class="mb-3" style="font-size:220%; color:#05246d">Course Projects</h5>
              <ul>
                <li><div class="resume-item d-flex flex-column flex-md-row">
                  <div class="resume-content mr-auto">
                      <h5 class="mb-0">Latent Space Exploration and Dimensionality Reduction of Seismic Ground Motions</h5>
                      <div style="font-size:110%;"><b><i><u>Course</u></i>:</b> STATS225- Bayesian Analysis (at UC-Irvine)<br>
                        <b><i><u>Instructor</u></i>:</b> Dr. Babak Shahbaba
                        <ul style="padding-bottom: 1rem;"><li>Conducted Dimensionality Reduction and modeled the Latent Variable space of Seismic Ground Motions using Bayesian Variational methods</li>
                          <img src="../img/LV1.jpg" alt="" style="width:250px">
                          <img src="../img/LV2.jpg" alt="" style="width:250px">
                      </div>
                  </div>
                </div>
              </li>
        
          <li>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                 <h5 class="mb-0">Developed Building Performance & Loss Assessment Software in Python: “Python-based Performance Assessment Tool (PyPAT)”</h5>
                 <div style="font-size:110%;"><b><i><u>Course</u></i>:</b> CEE298- Performance-Based Structural Design (at UC-Irvine)<br>
                  <b><i><u>Instructor</u></i>:</b> Dr. Farzin Zareian
                   <ul style="padding-bottom: 1rem;"><li>Using the methodology of FEMA`s '<i>Performance Assessment Calculation Tool (PACT)</i>', developed a building performance and loss assessment software in Python: '<i>Python-based Performance Assessment Tool (PyPAT)</i>'</li> 
                    <img src="../img/PB1.png" alt="" style="width:250px">
                    <img src="../img/PB2.png" alt="" style="width:250px">                 
                  </div>
            </div>
          </div>
        </li>
          <li>
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                     <h5 class="mb-0">Spatial Modeling of Ground Motion Time Series due to a Single Earthquake Event</h5>
                     <div style="font-size:110%;"><b><i><u>Course</u></i>:</b> STATS245- Time-Series Analysis (at UC-Irvine)<br>
                      <b><i><u>Instructor</u></i>:</b> Dr. Michele Guindani
                       <ul style="padding-bottom: 1rem;"><li>Modeled ground motion acceleration time-series record at the station '<i>n</i>' to forecast ground motion acceleration at time steps '<i>t+1</i>', '<i>t+2</i>', '<i>t+3</i>' ..., using ground motion acceleration records of '<i>n-1</i>' stations and the ground motion acceleration record of the station '<i>n</i>' till time step '<i>t</i>'</li> 
                        <img src="../img/TS1.jpg" alt="" style="width:250px">
                        <img src="../img/TS2.jpg" alt="" style="width:250px">                     
                      </div>
                </div>
              </div>
            </li>

            <li>
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                    <h5 class="mb-0">Modeling Geometrically Non-Linear Membranes</h5>
                    <div style="font-size:110%";><b><i><u>Course</u></i>:</b> C&EE235C- Non-Linear Structural Analysis (at UC-Los Angeles)<br>
                      <b><i><u>Instructor</u></i>:</b> Dr. Ertugrul Taciroglu
                      <ul style="padding-bottom: 1rem;"><li>Modeled Non-Linear Finite-Element Membranes to perform Geometrical Non-Linear Analysis of the membranes</li>
                        <img src="../img/NL1.jpg" alt="" style="width:250px">
                        <img src="../img/NL2.jpg" alt="" style="width:250px">
                   </div>
                </div>
            </div>
            </li>
          <li>
           <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                  <h5 class="mb-0">Design and Analysis of 14-Story Earthquake Resistant Special Steel Moment Resisting Frame (SMRF) Building</h5>
                    <div style="font-size:110%";><b><i><u>Course</u></i>:</b> CEE258- Aseismic Design (at UC-Irvine)<br>
                      <b><i><u>Instructor</u></i>:</b> Dr. Farzad Naeim
                      <ul style="padding-bottom: 1rem;"><li>Designed and analyzed the superstructure and the foundation of a 14-Story Earthquake Resistant Special Steel Moment Resisting Frame (SMRF) building using ETabs and SAFE softwares, respectively</li>
                      <img src="../img/SD1.jpg" alt="" style="width:250px">
                      <img src="../img/SD2.jpg" alt="" style="width:250px">
                    </div>
              </div>
            </div>
          </li>
          <li>
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                  <h5 class="mb-0">Design and Seismic Analysis of 4-Story Special Shear-Wall Timber Building</h5>
                  <div style="font-size:110%";><b><i><u>Course</u></i>:</b> CEE151B- Timber Analysis and Design (at UC-Irvine)<br>
                    <b><i><u>Instructor</u></i>:</b> Dr. Joel Lanning
                     <ul style="padding-bottom: 1rem;"><li>Designed and analyzed a 4-Story Special Shear-Wall Timber building based on National Design Specification (NDS) for Wood Construction (2015)</li>
                     <img src="../img/TD1.png" alt="" style="width:250px">
                    </div>
                </div>
            </div>
          </li>
          <li>
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                    <h5 class="mb-0">Seismic Analysis of a 6-Story Special Steel Moment Frame (SMRF) Building</h5>
                    <div style="font-size:110%";><b><i><u>Course</u></i>:</b> CEE249- Earthquake Engineering (at UC-Irvine)<br>
                      <b><i><u>Instructor</u></i>:</b> Dr. Farzad Naeim<br>
                      <ul style="padding-bottom: 1rem;">
                        <li>Analyzed a 6-Story SMRF building using : 'Generalized Coordinates Method', 'Rayleigh Method',  'Equivalent Lateral Static Load Force Procedure (ASCE 7-10)', and 'Modal Response Spectrum Analysis (ASCE 7-10)', procedures</li>
                        <img src="../img/EE1.jpg" alt="" style="width:250px">
                        <img src="../img/EE2.jpg" alt="" style="width:250px">
                      </ul>
                    </div>
              </div>
            </div>
          </li>
          <li>
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                  <h5 class="mb-0">Extensive Survey Project </h5>
                  <div style="font-size:110%";><b><i><u>Course</u></i>:</b> 12CV74- Extensive Survey Project (at RVCE)<br>
                    <ul>Successfully completed following projects during  10 days Survey Camp at Melukote Village, India
                      <li>Design of Water Supply System</li>
                      <li>Design of New Highway</li>
                      <li>Design of Irrigation Channels </li>
                      <li>Design of Sewerage System</li>
                      <li>Design of New Tank Bund</li>
                    </ul>
              </div>
            </div>
        </div>
      </li></ul></div></div>
      </section>

      </div>
-->
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
