<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
     <link rel="shortcut icon" type="image/png" href="../img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Codes and Softwares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="research">
        <div class="research">
          <h2 class="mb-5">Research</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Technical Reports</h3>
              <ol reversed="n">
                <li>"<font color="#cc5112">Validation and Utilization of Physics-based Simulated Ground Motions for Bridge Performance Assessment</font>”. Pacific Earthquake Engineering Research (PEER) Report 1146-NCTRFZ (2020). (under review) </li>
                <li>"<font color="#cc5112">Critical assessment of probabilistic seismic demand analysis of ordinary bridge structures using CyberShake simulations</font>”. Southern California Earthquake Center (SCEC) Award Number: 118062867, SCEC ID 19114 (2020). <a href="https://files.scec.org/s3fs-public/reports/2019/19114_report.pdf?yLW0LSvbKlag7rn1GzdiY_CSEYU8E8A3" target="_blank" style=" font-size: 80%" style="color:brown";>  See Report</a></li>
                <li>"<font color="#cc5112">Validation of Caltrans Ordinary Bridge Modeling Approach using Bayesian State and Parameter Estimation Method</font>”. California Strong Motion Instrumentation Program (CSMIP) Agreement No. 1018-568 (2020). <a href="https://www.researchgate.net/publication/346273626_Validation_of_Caltrans_Ordinary_Bridge_Modelling_Approach_using_Bayesian_State_and_Parameter_Estimation_Method" target="_blank" style=" font-size: 80%" style="color:brown";>  See Report</a></li>
                <li>"<font color="#cc5112">Guidelines for Ground Motion Modelling for Performance-Based Earthquake Engineering of Ordinary Bridges</font>”. Caltrans Final Report No. 65A0647 (2019). <a href="https://www.researchgate.net/publication/346272564_Guidelines_for_Ground_Motion_Modelling_for_Performance-Based_Earthquake_Engineering_of_Ordinary_Bridges" target="_blank" style=" font-size: 80%" style="color:brown";>  See Report</a></li>
                <li>"<font color="#cc5112">Preliminary Report on Engineering and Geological Effects of the July 2019 Ridgecrest Earthquake Sequence</font>".<i> Reconnaissance Report GEER-064NSF</i>, Sponsored Geotechnical Extreme Event Reconnaissance Association-GEER (2019). <a href="https://pubs.er.usgs.gov/publication/70204401" target="_blank" style=" font-size: 80%" style="color:brown";>  See Report</a></li>
                <li>"<font color="#cc5112">Reliability Analysis of Steel SMRF and SCBF Structures Considering the Vertical Component of Near-Fault Ground Motions</font>".<i> MS Thesis</i>, University of California-Irvine (2018). <a href="https://escholarship.org/content/qt6244b371/qt6244b371.pdf" target="_blank" style=" font-size: 80%" style="color:brown";>  See Report</a></li>
              </ol>  
            </div>
          </div>


          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Journal Publications</h3>
              <ol reversed="n">
                <li>Jawad Fayaz and Farzin Zareian. "<font color="#cc5112">An Efficient Algorithm to Simulate Site-Based Ground Motions that match a Target Spectrum</font>". (under review<i></i>)</li>
                <li>Jawad Fayaz and Farzin Zareian (Accepted). "<font color="#cc5112">Response Prediction Model (RPM) for Column Drift Ratio of Box-Girder Non-Skewed Seat-Type Ordinary Bridge Structures</font>". (in press- <i>Journal of Bridge Engineering</i>)</li>
                <li>Jawad Fayaz, Sanaz Rezaeian, and Farzin Zareian (Accepted). "<font color="#cc5112">A Method for Evaluation of Simulated Ground Motions based on Probabilistic Seismic Demand Analysis: with an application on CyberShake (15.12) Simulations using Ordinary Standard Bridges</font>". (in press- <i>Soil Dynamics and Earthquake Engineering</i>)</li>
                <li>Jawad Fayaz, Yijun Xiang, and Farzin Zareian (2020). "<font color="#cc5112">Generalized Ground Motion Prediction Model (GGMPM) using Hybrid Neural Networks</font>". <i>Structural Dynamics and Earthquake Engineering</i>. <a href="https://onlinelibrary.wiley.com/share/author/6ZSTTHNB2NINV7JGPPT5?target=10.1002/eqe.3410" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Sarah Azar, Mayssa Dabaghi, and Farzin Zareian (2020). "<font color="#cc5112">Methodology for Validation of Simulated Ground Motions for Seismic Response Assessment: Application to Cybershake Source-Based Ground Motions</font>". <i>Bulletin of Seismological Society of America</i>. <a href="https://pubs.geoscienceworld.org/ssa/bssa/article/doi/10.1785/0120200240/593108/Methodology-for-Validation-of-Simulated-Ground" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Sarah Azar, Mayssa Dabaghi, and Farzin Zareian (2020). "<font color="#cc5112">An Efficient Algorithm to Simulate Hazard-Targeted Site-Based Synthetic Ground Motions</font>". <i>Earthquake Spectra</i>. <a href="https://journals.sagepub.com/doi/10.1177/8755293020970968" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Mayssa Dabaghi, and Farzin Zareian (2020). "<font color="#cc5112">Utilization of Site-Based Simulated Ground Motions for Hazard-Targeted Seismic Demand Estimation: application for Ordinary Bridges in Southern California</font>". <i>ASCE- Journal of Bridge Engineering</i>, Vol. 25, Issue 11. <a href="https://ascelibrary.org/doi/full/10.1061/%28ASCE%29BE.1943-5592.0001634" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Miguel Riquelme, and Farzin Zareian (2020). "<font color="#cc5112">Sensitivity of the Response of Box-Girder Seat-Type Bridges to the Duration of Ground Motions arising from Crustal and Subduction Earthquakes</font>". <i>ELSEVIER- Engineering Structures</i>, Vol. 219, 110845. <a href="https://www.sciencedirect.com/science/article/pii/S0141029619339951?dgcid=coauthor" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Pablo Torres, Jawad Fayaz, and Farzin Zareian (2020). "<font color="#cc5112">Strength Resistance Factors for Seismic Design of Exposed Based Plate Connections in Special Steel Moment Resisting Frames</font>". <i>Earthquake Spectra</i>, Vol. 36, Issue 2, Pages 537-553. <a href="https://journals.sagepub.com/doi/full/10.1177/8755293019891714" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, and Farzin Zareian (2019). "<font color="#cc5112">Reliability Analysis of Steel SMRF and SCBF Structures Considering the Vertical Component of Near-Fault Ground Motions</font>". <i>ASCE- Journal of Structural Engineering</i>, Vol. 145, Issue 7. <a href="https://ascelibrary.org/doi/full/10.1061/%28ASCE%29ST.1943-541X.0002330" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Adarsha C. Y, T. Raghavendra, K. Natarajan, and B.C. Udayashankar (2019). "<font color="#cc5112">Structural Behavior of R.C. Members Reinforced with Waste Plastic incorporated Glass Fibre Reinforced Polymer (<i>WPGFRP</i>) Rebars</font>". <i>ELSEVIER- Journal of Building Engineering</i>, Vol. 23, Pages 172-184. <a href="https://www.sciencedirect.com/science/article/pii/S2352710218310258?dgcid=coauthor" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>T. Raghavendra, H. Siddanagouda, Jawad Fayaz, Adarsha C.Y, and B.C. Udayashankar (2018). "<font color="#cc5112">Mitigation of H2S Emissions by Recycling Discarded Gypsum Wall Boards in CLSM</font>".<i> Global Journal of Researches in Engineering</i>, Vol. 18, Issue 1-E. <a href="https://engineeringresearch.org/index.php/GJRE/article/view/1784" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
              </ol>  
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Conference Proceedings</h3>
              <ol reversed>
                <li>Jawad Fayaz and Farzin Zareian (2021). "<font color="#cc5112">Response Prediction Models for Standard Ordinary Bridges for the Assessment and Design of the Transportation Lifelines</font>". <i>ASCE Lifelines</i>, UCLA, USA, February 2021. </li>
                <li>Jawad Fayaz, Yijun Xiang, and Farzin Zareian (2020). "<font color="#cc5112">Ground Motion Spectral Estimation using Recurrent Neural Networks (RNN)</font>". <i>17th World Conference on Earthquake Engineering </i> (<i>17WCEE</i>), Sendai, Japan, September 2020. <a href= "https://www.researchgate.net/publication/344355975_Ground_Motion_Spectral_Estimation_using_Recurrent_Neural_Network_RNN" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Mayssa Dabaghi, and Farzin Zareian (2020). "<font color="#cc5112">Guidelines for Utilization of Site-Based Simulated Ground Motions for Performance-Based Earthquake Engineering of Ordinary Bridges</font>". <i>17th World Conference on Earthquake Engineering </i> (<i>17WCEE</i>), Sendai, Japan, September 2020. <a href= "https://www.researchgate.net/publication/344356046_Guidelines_for_Utilization_of_Site-Based_Simulated_Ground_Motions_for_Performance-_Based_Earthquake_Engineering_of_Ordinary_Bridges" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Alessandro Cardoni, Jawad Fayaz, Gian P. Cimellaro, and Farzin Zareian (2020). "<font color="#cc5112">Utilizing Simulated Ground Motions to Quantify Highway Network Performance during Moderate Seismic Events</font>". <i>17th World Conference on Earthquake Engineering </i> (<i>17WCEE</i>), Sendai, Japan, September 2020. <a href= "https://www.researchgate.net/publication/344356035_Utilizing_Simulated_Ground_Motions_to_Quantify_Highway_Network_Performance_during_Moderate_Seismic_Events" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Yijun Xiang, and Farzin Zareian (2019). "<font color="#cc5112">Performance Assessment of Bridges Under A Sequence of Seismic Excitations</font>".<i> Computational Methods in Structural Dynamics & Earthquake Engineering</i> (<i>COMPDYN 2019</i>), Crete Island, Greece, June 2019. <a href= "https://pdfs.semanticscholar.org/3b0b/9223fb58ad572bd6271709bb4cbbf8625fcc.pdf" target="_blank" style=" font-size: 80% " style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Mayssa Dabaghi, and Farzin Zareian (2019). "<font color="#cc5112">Probabilistic Analytical Benchmarking of Source-Based and Site-Based Ground Motion Simulation Models</font>".<i> 13th International Conferences on Applications of Statistics and Probability in Civil Engineering</i> (<i>ICASP13</i>), Seoul, South Korea, May 2019. <a href= "http://s-space.snu.ac.kr/bitstream/10371/153319/1/109.pdf" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>Jawad Fayaz, Miguel Riquelme, and Farzin Zareian (2019). "<font color="#cc5112">Sensitivity of The Response of Box-Girder Seat-Type Bridges to the Duration of Ground Motions Arising from Subduction Earthquakes</font>".<i> XII Chilean Conference on Seismology and Earthquake Engineering (ACHISINA)</i>, Valdivia, Chile, April 2019. <a href= "https://www.researchgate.net/publication/332382987_Sensitivity_of_The_Response_of_Box-Girder_Seat-Type_Bridges_to_the_Duration_of_Ground_Motions_Arising_from_Subduction_Earthquakes" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
                <li>T. Raghavendra, H. Siddanagouda, Jawad Fayaz, Adarsha C.Y, and B.C. Udayashankar (2016). "<font color="#cc5112">Performance of ternary binder blend containing cement, waste gypsum wallboards and blast furnace slag in CLSM</font>". <i>ELSEVIER- Procedia Engineering</i>, Vol. 145, Pages 104-111, April 2016. <a href= "https://www.sciencedirect.com/science/article/pii/S1877705816300315" target="_blank" style=" font-size: 80%" style="color:brown";>  See Paper</a></li>
              </ol>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Posters</h3>
              <ol reversed>
                <li>Jawad Fayaz, Sanaz Rezaeian, and Farzin Zareian (2020). "<font color="#cc5112">Method for Evaluation of Simulated Ground Motions based on Probabilistic Seismic Demand Analysis: application on CyberShake (15.12) Simulations using Ordinary Standard Bridges</font>". <i>SCEC Annual Meeting</i>, September 2020. <a href="https://www.scec.org/meetings/2020/am/poster/232" target="_blank" style=" font-size: 80%" style="color:brown"> See Poster</a></li>
                <li>Jawad Fayaz, Sarah Azar, Mayssa Dabaghi, and Farzin Zareian (2020). "<font color="#cc5112">Validation and Utilization of Physics-Based Simulated Ground Motions for Bridge Performance Assessment</font>". <i>PEER Annual Meeting</i>, Berkeley, CA, January 2020. <a href="https://peer.berkeley.edu/sites/default/files/fayaz-2020pam-poster.pdf" target="_blank" style=" font-size: 80%" style="color:brown"> See Poster</a></li>
                <li>Jawad Fayaz, and Farzin Zareian (2018). "<font color="#cc5112">Reliability Analysis of Steel SMRF and SCBF Structures considering the Vertical Component of Near-Fault Ground Motions</font>". <i>PEER Annual Meeting</i>, Berkeley, CA, January 2018. <a href="https://apps.peer.berkeley.edu/events/annual_meeting/2018AM/wp-content/uploads/2018/01/jawad_fayaz__peer_poster_reliability_analysis_of_steel_smrf_and_scbf_structures_considering_the_vertical_component_of_nearfault_ground_motions.pdf" target="_blank" style=" font-size: 80%" style="color:brown"> See Poster</a></li>
              </ol>
            </div>
          </div>
         
          
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Patent</h3>
              <p class="lead">Jawad Fayaz, Adarsha C. Y., Raghavendra T., Natarajan K., and Udayashankar B. C. "<font color="#cc5112">Waste Plastic Incorporated Fibre Reinforced Polymer Bars</font>" <i>Indian Patent # 201641027374, filed 08/2016, Page 6391. </i><a href= "http://www.ipindia.nic.in/writereaddata/Portal/IPOJournal/1_2585_1/Part-2.pdf" target="_blank" style=" font-size: 80%" style="color:brown">  See Link</a> </p> 
            </div>
          </div>

        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
