<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jawad Fayaz</title>
    <link rel="shortcut icon" type="image/png" href="../img/icon.png">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">JAWAD FAYAZ</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/profile.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Codes and Softwares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="education">
        <div class="Skills">
          <h2 class="mb-5">Skills And Achievements</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Skills</h3>
              <ul>
                <li>Performance-Based Earthquake Engineering, Reliability Analysis, Ground Motion Analysis, Statistical Analysis, Machine Learning, Deep Learning, Feature Engineering</li>
                <li>Seismic Design of: Reinforced Concrete, Steel, and Timber Structures</li>
                <li><i>Software Tools</i>: ETabs, SAP, SAFE, OpenSEES, OpenSHA, AutoCAD, MS Office</li>
                <li><i>Programming Languages: </i>Matlab, Python, R, Mathematica, Bash, tcl, Julia, Git, HTML </li>
                <li><i>Visualization Tools :</i> Matplotlib, Seaborn, Plotly, Cufflinks, Bokeh, Choropleth, ggplot2, MS Excel </li>
              </ul>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Achievements</h3>
              <ul>
                <li>Recipient of "2020/21 Phi Beta Kappa Graduate Scholarship" awarded by Phi Beta Kappa Alumni Association for the contributions to Engineering research <a href="https://www.pbksocalalumni.com/resources/Documents/Vol%20LIV%20_%20Fall%202020.pdf" target="_blank" style=" font-size: 80%">Award Link</a></li>
                <li>Recipient of "2020/21 Graduate Dean’s Dissertation Fellowship" awarded by Graduate Division, UC-Irvine, for the contributions to Academic field <a href="https://engineering.uci.edu/news/2020/6/graduate-students-win-engineering-dissertation-fellowships" target="_blank" style=" font-size: 80%">Award Link</a></li>
                <li>Recipient of "2019/20 Henry Samueli Endowed Fellowship" awarded by Henry Samueli School of Engineering, UC-Irvine, for the scholarly contributions to Engineering research <a href="http://engineering.uci.edu/dept/cee/graduate/financial-support/henry-samueli-endowed-fellowship" target="_blank" style=" font-size: 80%">Award Link</a></li>
                <li>Recipient of "2019 Structural Engineering Association Of Southern California (SEAOSC) Foundation Scholarship" awarded by Structural Engineering Association Of Southern California (SEAOSC) for the contributions in the field of Structural Engineering <a href="https://www.seaosc.org/2019-Scholarship-Recipients" target="_blank" style=" font-size: 80%">Award Link</a> </li>
                <li>Recipient of “2019 Travel Grant Award” awarded by Graduate Student Affairs Office, UC-Irvine, for multiple presentations at International Conferences</li> 
                <li>Recipient of "2016 Most Innovative Project of RVCE" among all undergraduate projects at R.V. College of Engineering (RVCE), India, for developing novel rebars using "Waste Plastic incorporated Glass Fiber Reinforced Polymer (WPGFRP)" </li>
                <li>Interviewed on Live-TV program “Good Morning JK” on Regional TV Channel “DD Kashmir” at Kashmir, India in April 2017 <a href="https://youtu.be/TuGSe6jYNY4" target="_blank" style=" font-size: 80%">Youtube Link</a> </li>
                <li>Felicitated with an Achievement Award by the Trustees of R.V. College of Engineering (RVCE), India, for contributions to Department of Civil Engineering at R.V. College of Engineering, India </li>
                <li>Complimented with an Achievement Award by the Department of Civil Engineering at R.V. College of Engineering (RVCE), India, for winning "2016 Most Innovation Project of RVCE" and filing a patent for an undergrad project <a href="http://rvce.edu.in/cv-achivements" target="_blank" style=" font-size: 80%">RVCE Link</a></li>
              </ul>
            </div>
          </div>

        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
